?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.iC0rraxX.Darwin"
    version   = "1.0">
    
    <icon src="www/img/icon.png" />
    <preference name="prerendered-icon" value="true" />
    <name>Darwin Project</name>
    
    <description>
        An App for Read On Darwin Day
    </description>
    
    <author href="https://corraftp.tk" email="corra98@egmail.com">
        Corrado Verhoeven (iC0rraxX)
    </author>
    
</widget>